.paragraph-video {
  position: relative;
  overflow: hidden;
  .poster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: 0;
    &.visible {
      pointer-events: auto;
      opacity: 1 !important;
      z-index: 9;
    }
    &.transparent {
      background: transparent;
    }
  }
  iframe {
    position: absolute;
    z-index: 1;
  }
}
