<div class="paragraph paragraph-textbox">
  <div class='wrap grid {{ type }}'>
    {% for body in bodies %}
      <figure class='col text'>
        <div class='textbox'>
          {{ body }}
        </div>
      </figure>
    {% endfor %}
  </div>
</div>
