<div class='paragraph-row {{ margins | join(' ') }}{% if row_layout %} {{ row_layout }}{% endif %}'>
  <div class='{{ attributes.class }}'>
    {% for col in columns %}
      {{ col }}
    {% endfor %}
  </div>
</div>
