<section class="col paragraph paragraph-textbox {{ attributes.class }}">
  {% if bodies.length > 1 %}
  <div class='wrap grid {{ type }}'>
  {% endif %}
    {% for body in bodies %}
      {% if bodies.length > 1 %}
      <figure class='col text'>
      {% endif %}
        <div class='textbox'>
          {{ body }}
        </div>
      {% if bodies.length > 1 %}
      </figure>
      {% endif %}
    {% endfor %}
  {% if bodies.length > 1 %}
  </div>
  {% endif %}
</section>
